In [2]:
import pandas as pd
data=pd.read_csv('NewData1.csv')
l1 = list(data.columns)

In [10]:
# remove /n from l1
column_list = []
for column in l1:
    if column.find('\n') != -1:
        index = column.find('\n')
        new_column_name = column[:index] + column[index+1:]
        column_list.append(new_column_name)
    else:
        column_list.append(column)
    
    
print(column_list)

data.columns = column_list

['SDC Deal No', 'Date Announced', 'Rank Date', 'Rank Value inc. Net Debt of Target(USD, Millions)', 'Target Full Name', 'Target Macro Industry', 'Target Mid Industry', 'Target Nation', 'Acquiror Full Name', 'Acquiror Macro Industry', 'Acquiror Mid Industry', 'Acquiror Nation', "Target Financial Advisors Name('|')", "Acquiror Financial Advisors Name('|')", 'Deal Status', 'Form of the Deal', 'Acquiror Number of Employees', 'Target Number of Employees', 'Acquiror PermID', 'Target PermID', 'Target Founded Date', 'Target Primary Ticker Symbol', 'Acquiror Founded Date', 'Acquiror Current Assets Last 12 Months(USD, Millions)', 'Current Assets Last 12 Months (USD, Millions)', 'Acquiror Market Value 4 Weeks Prior to Announcement(USD, Millions)', 'Target Market Value 4 Weeks Prior to Announcement(USD, Millions)', "Region of Headquarters('|')", 'Acquiror CashFLow LTM(USD, Millions)', 'EBITDA Last 12 Months(USD, Millions)']

In [11]:
data.columns

Index(['SDC Deal No', 'Date Announced', 'Rank Date',
       'Rank Value inc. Net Debt of Target(USD, Millions)', 'Target Full Name',
       'Target Macro Industry', 'Target Mid Industry', 'Target Nation',
       'Acquiror Full Name', 'Acquiror Macro Industry',
       'Acquiror Mid Industry', 'Acquiror Nation',
       'Target Financial Advisors Name('|')',
       'Acquiror Financial Advisors Name('|')', 'Deal Status',
       'Form of the Deal', 'Acquiror Number of Employees',
       'Target Number of Employees', 'Acquiror PermID', 'Target PermID',
       'Target Founded Date', 'Target Primary Ticker Symbol',
       'Acquiror Founded Date',
       'Acquiror Current Assets Last 12 Months(USD, Millions)',
       'Current Assets Last 12 Months (USD, Millions)',
       'Acquiror Market Value 4 Weeks Prior to Announcement(USD, Millions)',
       'Target Market Value 4 Weeks Prior to Announcement(USD, Millions)',
       'Region of Headquarters('|')', 'Acquiror CashFLow LTM(USD, Millions)',
       'EBITDA Last 12 Months(USD, Millions)'],
      dtype='object')

In [12]:
targets=data[['Target PermID','Target Macro Industry','Target Nation','Target Number of Employees','Target Market Value 4 Weeks Prior to Announcement(USD, Millions)','Current Assets Last 12 Months (USD, Millions)','EBITDA Last 12 Months(USD, Millions)']]

In [13]:
# drop rows with permid as nan
targets=targets.dropna(subset=['Target PermID'])
targets

,Target PermID,Target Macro Industry,Target Nation,Target Number of Employees,"Target Market Value 4 Weeks Prior to Announcement(USD, Millions)","Current Assets Last 12 Months (USD, Millions)","EBITDA Last 12 Months(USD, Millions)"
0,5.083826e+09,Media and Entertainment,United States,NaN,NaN,NaN,NaN
1,5.035897e+09,Media and Entertainment,Japan,NaN,NaN,NaN,NaN
2,5.047646e+09,Energy and Power,United Kingdom,NaN,NaN,NaN,NaN
3,5.046720e+09,Energy and Power,France,NaN,NaN,689.97,-27.43
4,5.081397e+09,Energy and Power,United States,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
8732,5.048229e+09,High Technology,Japan,NaN,NaN,NaN,NaN
8733,5.084859e+09,Retail,Japan,NaN,NaN,NaN,NaN
8734,5.084859e+09,Real Estate,Thailand,NaN,NaN,NaN,NaN
8736,5.037453e+09,Real Estate,Switzerland,NaN,NaN,NaN,NaN
8737,5.084288e+09,High Technology,United States,NaN,NaN,NaN,NaN

In [14]:
targets['Target PermID']=targets['Target PermID'].astype(str)
targets= targets.melt(id_vars='Target PermID')
targets = targets.rename(columns={'Target PermID': 'company_id', 'value': 'val_id','variable':'edge_type'})
set(targets.edge_type.values)

{'Current Assets Last 12 Months (USD, Millions)',
 'EBITDA Last 12 Months(USD, Millions)',
 'Target Macro Industry',
 'Target Market Value 4 Weeks Prior to Announcement(USD, Millions)',
 'Target Nation',
 'Target Number of Employees'}

In [15]:
targets

,company_id,edge_type,val_id
0,5083825968.0,Target Macro Industry,Media and Entertainment
1,5035897096.0,Target Macro Industry,Media and Entertainment
2,5047645553.0,Target Macro Industry,Energy and Power
3,5046719927.0,Target Macro Industry,Energy and Power
4,5081397020.0,Target Macro Industry,Energy and Power
...,...,...,...
48445,5048228591.0,"EBITDA Last 12 Months(USD, Millions)",NaN
48446,5084859183.0,"EBITDA Last 12 Months(USD, Millions)",NaN
48447,5084859160.0,"EBITDA Last 12 Months(USD, Millions)",NaN
48448,5037452603.0,"EBITDA Last 12 Months(USD, Millions)",NaN
48449,5084288207.0,"EBITDA Last 12 Months(USD, Millions)",NaN

In [16]:
# drop NaN values
targets=targets.dropna()
targets

,company_id,edge_type,val_id
0,5083825968.0,Target Macro Industry,Media and Entertainment
1,5035897096.0,Target Macro Industry,Media and Entertainment
2,5047645553.0,Target Macro Industry,Energy and Power
3,5046719927.0,Target Macro Industry,Energy and Power
4,5081397020.0,Target Macro Industry,Energy and Power
...,...,...,...
48320,5081411089.0,"EBITDA Last 12 Months(USD, Millions)",8.01
48330,5081418709.0,"EBITDA Last 12 Months(USD, Millions)",1.39
48337,4295899815.0,"EBITDA Last 12 Months(USD, Millions)",146.42
48345,5036894311.0,"EBITDA Last 12 Months(USD, Millions)",55.25
48369,5044556406.0,"EBITDA Last 12 Months(USD, Millions)",1.81

In [17]:
mapper={'Current Assets Last 12 Months (USD, Millions)':'Quant_Metric',
 'EBITDA Last 12 Months(USD, Millions)':'Quant_Metric',
 'Target Macro Industry':'Industry',
 'Target Market Value 4 Weeks Prior to Announcement(USD, Millions)':'Quant_Metric',
 'Target Nation':'Location',
 'Target Number of Employees':'Quant_Metric'}

In [18]:
new=[]
for index,row in targets.iterrows():
    new.append(mapper[row['edge_type']])

In [19]:
targets['node_type']=new

C:\Users\Nakul\AppData\Local\Temp\ipykernel_10476\823271063.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targets['node_type']=new

In [20]:
targets

,company_id,edge_type,val_id,node_type
0,5083825968.0,Target Macro Industry,Media and Entertainment,Industry
1,5035897096.0,Target Macro Industry,Media and Entertainment,Industry
2,5047645553.0,Target Macro Industry,Energy and Power,Industry
3,5046719927.0,Target Macro Industry,Energy and Power,Industry
4,5081397020.0,Target Macro Industry,Energy and Power,Industry
...,...,...,...,...
48320,5081411089.0,"EBITDA Last 12 Months(USD, Millions)",8.01,Quant_Metric
48330,5081418709.0,"EBITDA Last 12 Months(USD, Millions)",1.39,Quant_Metric
48337,4295899815.0,"EBITDA Last 12 Months(USD, Millions)",146.42,Quant_Metric
48345,5036894311.0,"EBITDA Last 12 Months(USD, Millions)",55.25,Quant_Metric
48369,5044556406.0,"EBITDA Last 12 Months(USD, Millions)",1.81,Quant_Metric

In [43]:
# Remove Target from edge type
targets['edge_type']=targets['edge_type'].str.replace('Target ','')
# Replace ebitda with cashflow
targets['edge_type'] = targets['edge_type'].str.replace("EBITDA Last 12 Months", 'Cashflow')
targets['edge_type'] = targets['edge_type'].str.replace("Current Assets Last 12 Months ", 'Current Assets Last 12 Months')

C:\Users\Nakul\AppData\Local\Temp\ipykernel_10476\3610552650.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targets['edge_type']=targets['edge_type'].str.replace('Target ','')
C:\Users\Nakul\AppData\Local\Temp\ipykernel_10476\3610552650.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targets['edge_type'] = targets['edge_type'].str.replace("EBITDA Last 12 Months", 'Cashflow')
C:\Users\Nakul\AppData\Local\Temp\ipykernel_10476\3610552650.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targets['edge_type'] = targets['edge_type'].str.replace("Current Assets Last 12 Months ", 'Current Assets Last 12 Months')

In [44]:
targets.dropna(inplace=True)

C:\Users\Nakul\AppData\Local\Temp\ipykernel_10476\2435182257.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targets.dropna(inplace=True)

In [45]:
#list unqiue edge types
set(targets.edge_type.values)

{'Cashflow(USD, Millions)',
 'Current Assets Last 12 Months(USD, Millions)',
 'Macro Industry',
 'Market Value 4 Weeks Prior to Announcement(USD, Millions)',
 'Nation',
 'Number of Employees'}

In [46]:
# for acquirors

acquirors = data[
    [
        "Acquiror PermID",
        "Acquiror Macro Industry",
        "Acquiror Nation",
        "Acquiror Number of Employees",
        "Acquiror Market Value 4 Weeks Prior to Announcement(USD, Millions)",
        "Acquiror Current Assets Last 12 Months(USD, Millions)",
        "Acquiror CashFLow LTM(USD, Millions)",
    ]
]
# drop rows with permid as nan
acquirors = acquirors.dropna(subset=["Acquiror PermID"])

acquirors["Acquiror PermID"] = acquirors["Acquiror PermID"].astype(str)
acquirors = acquirors.melt(id_vars="Acquiror PermID")
acquirors = acquirors.rename(
    columns={
        "Acquiror PermID": "company_id",
        "value": "val_id",
        "variable": "edge_type",
    }
)
set(acquirors.edge_type.values)

{'Acquiror CashFLow LTM(USD, Millions)',
 'Acquiror Current Assets Last 12 Months(USD, Millions)',
 'Acquiror Macro Industry',
 'Acquiror Market Value 4 Weeks Prior to Announcement(USD, Millions)',
 'Acquiror Nation',
 'Acquiror Number of Employees'}

In [47]:
mapper2 = {
    "Acquiror Current Assets Last 12 Months(USD, Millions)": "Quant_Metric",
    "Acquiror CashFLow LTM(USD, Millions)": "Quant_Metric",
    "Acquiror Macro Industry": "Industry",
    "Acquiror Market Value 4 Weeks Prior to Announcement(USD, Millions)": "Quant_Metric",
    "Acquiror Nation": "Location",
    "Acquiror Number of Employees": "Quant_Metric",
}

In [48]:
new2 = []
for index, row in acquirors.iterrows():
    new2.append(mapper2[row["edge_type"]])

In [49]:
acquirors["node_type"] = new2

In [50]:
acquirors.head()

     company_id                edge_type                   val_id node_type
0  5083826127.0  Acquiror Macro Industry  Media and Entertainment  Industry
1  4295878634.0  Acquiror Macro Industry       Telecommunications  Industry
2  4295885039.0  Acquiror Macro Industry         Energy and Power  Industry
3  5001170594.0  Acquiror Macro Industry         Energy and Power  Industry
4  4295885689.0  Acquiror Macro Industry         Energy and Power  Industry

In [51]:
# count number of nan values in each column
acquirors.isnull().sum()

company_id        0
edge_type         0
val_id        23692
node_type         0
dtype: int64

In [52]:
# drop nan values
acquirors.dropna(inplace=True)
len(acquirors)

23768

In [53]:
# remove Acquiror from edge type
acquirors["edge_type"] = acquirors["edge_type"].str.replace("Acquiror ", "")
# Replace cashflow
acquirors["edge_type"] = acquirors["edge_type"].str.replace("CashFLow LTM", "Cashflow")

In [54]:
set(acquirors.edge_type.values)

{'Cashflow(USD, Millions)',
 'Current Assets Last 12 Months(USD, Millions)',
 'Macro Industry',
 'Market Value 4 Weeks Prior to Announcement(USD, Millions)',
 'Nation',
 'Number of Employees'}

In [55]:
set(targets.edge_type.values)

{'Cashflow(USD, Millions)',
 'Current Assets Last 12 Months(USD, Millions)',
 'Macro Industry',
 'Market Value 4 Weeks Prior to Announcement(USD, Millions)',
 'Nation',
 'Number of Employees'}

In [56]:
#merge acquirors and targets
nodes=pd.concat([acquirors,targets])
len(nodes)

43443

In [57]:
nodes

,company_id,edge_type,val_id,node_type
0,5083826127.0,Macro Industry,Media and Entertainment,Industry
1,4295878634.0,Macro Industry,Telecommunications,Industry
2,4295885039.0,Macro Industry,Energy and Power,Industry
3,5001170594.0,Macro Industry,Energy and Power,Industry
4,4295885689.0,Macro Industry,Energy and Power,Industry
...,...,...,...,...
48320,5081411089.0,"Cashflow(USD, Millions)",8.01,Quant_Metric
48330,5081418709.0,"Cashflow(USD, Millions)",1.39,Quant_Metric
48337,4295899815.0,"Cashflow(USD, Millions)",146.42,Quant_Metric
48345,5036894311.0,"Cashflow(USD, Millions)",55.25,Quant_Metric
48369,5044556406.0,"Cashflow(USD, Millions)",1.81,Quant_Metric

In [59]:
# save nodes to csv
nodes.to_csv('prop_edges.csv')

In [29]:
df1 = pd.read_csv("merged-acq-edges.csv")
df1.head()

       owned_id      owner_id        date
0  5.083758e+09  5.083758e+09  01/10/2023
1  5.065325e+09  5.065325e+09  10/06/2022
2  5.000648e+09  5.000648e+09  10/11/2022
3  4.298070e+09  4.298070e+09  04/19/2022
4  4.295885e+09  4.295885e+09  07/05/2022

In [30]:
# count null values in each column
df1.isnull().sum()

owned_id    0
owner_id    0
date        0
dtype: int64

In [13]:
df1 = pd.read_csv("merged-acq-edges.csv")
df1.head()
df1.drop(columns=["Unnamed: 0"], inplace=True)

   Acquiror PermID  Target PermID Date Announced
0     5.083758e+09   5.083758e+09     01/10/2023
1     5.065325e+09   5.065325e+09     10/06/2022
2     5.000648e+09   5.000648e+09     10/11/2022
3     4.298070e+09   4.298070e+09     04/19/2022
4     4.295885e+09   4.295885e+09     07/05/2022

In [12]:
df1.to_csv("merged-acq-edges.csv", index=False)

In [20]:
df2 = pd.read_csv("merged-entities.csv")
df2.head()

             id                                  name  start_date
0  5.083758e+09                  TLSS Acquisition Inc         NaN
1  5.065325e+09                     Arco Platform Ltd  01/01/2004
2  5.000648e+09                  Fisher National Bank  01/01/1955
3  4.298070e+09         Higginbotham & Associates LLC  01/01/1948
4  4.295885e+09  Fomento Economico Mexicano SAB de CV         NaN

In [16]:
df2.to_csv("merged-entities.csv", index=False)

In [21]:
# count null values in each column
df2.isnull().sum()

id               0
name             0
start_date    4331
dtype: int64

In [22]:
import pandas as pd
df3 = pd.read_csv("D:\Documents\Github\Predicting_MnA-main\data\ingestion\\acq_edges\merged-acq-edges.csv")

In [23]:
df3.columns

Index(['owned_id', 'owner_id', 'date'], dtype='object')

In [31]:
df1.columns = ['owner_id','owned_id', 'date']

In [32]:
df1.head()

       owner_id      owned_id        date
0  5.083758e+09  5.083758e+09  01/10/2023
1  5.065325e+09  5.065325e+09  10/06/2022
2  5.000648e+09  5.000648e+09  10/11/2022
3  4.298070e+09  4.298070e+09  04/19/2022
4  4.295885e+09  4.295885e+09  07/05/2022

In [33]:
df1.to_csv("merged-acq-edges.csv", index=False)